/******************Page contact********************/
.border0{
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}

#contact {
  background-image: url("../images/fogforest1.jpg");
  background-attachment: fixed;
  margin-left: 2em;
  //margin-top: 80px;
  display: flex;
  flex-direction: column;

  #wrongmail {
    height: 0;
    display: none;
  }

  #sent {
    height: 0;
    display: none;
  }
  #empty{
    height: 0;
    display: none;
  }

  h2 {
    font-size: 5em;
  }

  form {
    background-color: @textbackg;
    max-width: 900px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    .border5;
    //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input, textarea {
      outline: 0;
      background: #FFFFFF;
      width: 100%;
      border: 0;
      margin: 10px 0 25px 0;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      .border5;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    label {
      margin-bottom: 25px;
      font-size: 1.2em;
      color: #777777;
    }

    #submit {
      color: #f2f2f2;
      background: #0f0f0f;
      opacity: 0.4;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
      padding: 15px 20px;
      .border0;
    }

    #submit:hover {
      background-color: #ddd;
      .transition-property;
      color: black;
    }
  }
}
