/******************Page description********************/


#description{
  background-image: url("../images/fog.jpg");
  background-attachment: fixed;
  margin-left: 2em;
  #text{
    display: flex;
    justify-content: center;
  }
  h2{
    margin-top: 80px;
    letter-spacing: 2px;
    font-size: 5em;
  }
  .para{
    background-color: @textbackg;
    max-width: 800px;
    padding: 40px;
    .border5;
    p{
      text-align: justify;
      text-indent: 4em;
    }
  }
}