/******************Page hardskills********************/
.section{
  background-color: @textbackg;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  .border5;
}

#hardskills{
  background-image: url("../images/snow.jpg");
  background-attachment: fixed;
  margin-left: 2em;
    h2{
      margin-top: 80px;
      font-size: 5em;
    }
    h3{
      font-size: 2em;
    }
    h4{
      font-size: 1.5em;
    }
    #hs{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .competences, .oc{
      .section;
    }
    .oc{
      a{
        color: black;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
}

.meter{
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  max-width: 600px;
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress{
  margin: -11px;
  display: block;
  height: 70%;
  border-radius: 20px;
  box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
  position: absolute;
  overflow: hidden;
}

.progress:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
          -45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 20px;
  overflow: hidden;
}

#grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.certif{
  width: 100%;
}


@media screen and (max-width: 700px) {
  #grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}