/*******************Page d'accueil*******************/
@textbackg : #f2f2f2;
.border5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.transition-property{
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
}
.grayscale100{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz- filter: grayscale(100%);
  -o- filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
.grayscale50{
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz- filter: grayscale(50%);
  -o- filter: grayscale(50%);
  -ms-filter: grayscale(50%);
}
.grayscale0{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz- filter: grayscale(0%);
  -o- filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  transition-property: grayscale(0%);
  transition-duration: 1s;
}

#indexback{
  background-image: url("../images/mountains_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#index{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#intro {
  background-color: @textbackg;
  max-width: 400px;
  padding: 40px;
  margin: 20px;
  text-align: center;
  .border5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  //picture{
  //  .grayscale50;
  //}
  //picture:hover{
  //  .grayscale0;
  //}
  h1 {
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 3em;
  }
  #contactlist {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    cursor: pointer;
    li {
      list-style-type: none;
      .grayscale100;
    }
    li:hover{
      .grayscale0;
    }
  }
  div {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    a {
      color: #f2f2f2;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
      min-width: 136.933px;
      padding: 15px 20px;
      background-color: #0f0f0f;
      opacity: 0.4;
      overflow: hidden;
    }
    a:hover {
      background-color: #ddd;
      .transition-property;
      color: black;
    }
  }
}

//Pop up téléphone
.modal {
  visibility: hidden; /*Caché par défaut*/
  position: fixed; /* Reste en place */
  z-index: 1; /* Sur le dessus */
  padding-top: 300px; /* Position de la boîte */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permet de scroller */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: @textbackg;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 120px;
  font-size: 1.5em;
  .border5;
    p{
      margin-left: -100px;
    }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 3em;
  font-weight: bold;
  margin-top: -15px;
  margin-left: -50px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 1s;
}


@media screen and (max-width: 700px) {
  background-color: grey;
}