/******************Page projets********************/
.section{
background-color: @textbackg;
max-width: 800px;
padding: 40px;
  margin-bottom: 40px;
.border5;
}

#projects{
  background-image: url("../images/road2.jpg");
  background-attachment: fixed;
  margin-left: 2em;
    h2{
      margin-top: 80px;
      letter-spacing: 2px;
      font-size: 5em;
    }
    h3{
      font-size: 3em;
      margin: 0;
    }
    h4{
      font-size: 2em;
      text-align: center;
    }
    p{
      text-align: justify;
      text-indent: 4em;
    }
    #all{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #current{
      .section;
      a:visited{
        text-decoration: none;
        color: black;
      }
      a:active{
        text-decoration: none;
      }
      a{
        color:black;
      }
    }
    #past{
      .section;
    }
    .logo{
      display:flex;
      justify-content: center;
    }
    .screen{
      width: 100%;
      margin-bottom: 6px;
    }
    figure{
      padding-bottom: 50px;
      border-bottom: solid rgba(57, 57, 57, 0.93) 1px;
    }
    #current figure{
    border: none;
  }
}

@media screen and (max-width: 350px) {
#projects{
  margin-left:0;
  #all {
      width: auto;
      .screen {
        width: auto;
        max-height: auto;
      }
    }
}
}