*,*:before,*:after{
  box-sizing:border-box;
}

html {scroll-behavior: smooth;}

body, #textarea{
  font-family: "Segoe UI Light", "Calibri Light", Sans-Serif;
}

  @import "topnav.less";
  @import "index.less";
  @import "descri.less";
  @import "projects.less";
  @import "hardskills.less";
  @import "interest.less";
  @import "contact.less";
