*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
#textarea {
  font-family: "Segoe UI Light", "Calibri Light", Sans-Serif;
}
.transition-property {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
}
.topnav {
  background-color: #0f0f0f;
  opacity: 0.4;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topnav li {
  list-style-type: none;
}
.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  padding: 15px 20px;
  float: left;
  display: block;
}
.topnav a:hover {
  background-color: #ddd;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
  color: black;
}
.topnav .icon {
  display: none;
}
/****************Apparence écrans de 700px et moins*****************/
@media screen and (max-width: 700px) {
  .topnav a:not(last-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: absolute;
  }
  .topnav .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*******************Page d'accueil*******************/
.border5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.transition-property {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
}
.grayscale100 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
.grayscale50 {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
}
.grayscale0 {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  transition-property: grayscale(0%);
  transition-duration: 1s;
}
#indexback {
  background-image: url("../images/mountains_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#index {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
#intro {
  background-color: #f2f2f2;
  max-width: 400px;
  padding: 40px;
  margin: 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#intro h1 {
  letter-spacing: 2px;
}
#intro p {
  margin-bottom: 3em;
}
#intro #contactlist {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#intro #contactlist li {
  list-style-type: none;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
#intro #contactlist li:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  transition-property: grayscale(0%);
  transition-duration: 1s;
}
#intro div {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
#intro div a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  min-width: 136.933px;
  padding: 15px 20px;
  background-color: #0f0f0f;
  opacity: 0.4;
  overflow: hidden;
}
#intro div a:hover {
  background-color: #ddd;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
  color: black;
}
.modal {
  visibility: hidden;
  /*Caché par défaut*/
  position: fixed;
  /* Reste en place */
  z-index: 1;
  /* Sur le dessus */
  padding-top: 300px;
  /* Position de la boîte */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permet de scroller */
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 120px;
  font-size: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.modal-content p {
  margin-left: -100px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 3em;
  font-weight: bold;
  margin-top: -15px;
  margin-left: -50px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 1s;
}
@media screen and (max-width: 700px) {
  background-color: grey;
}
/******************Page description********************/
#description {
  background-image: url("../images/fog.jpg");
  background-attachment: fixed;
  margin-left: 2em;
}
#description #text {
  display: flex;
  justify-content: center;
}
#description h2 {
  margin-top: 80px;
  letter-spacing: 2px;
  font-size: 5em;
}
#description .para {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#description .para p {
  text-align: justify;
  text-indent: 4em;
}
/******************Page projets********************/
.section {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#projects {
  background-image: url("../images/road2.jpg");
  background-attachment: fixed;
  margin-left: 2em;
}
#projects h2 {
  margin-top: 80px;
  letter-spacing: 2px;
  font-size: 5em;
}
#projects h3 {
  font-size: 3em;
  margin: 0;
}
#projects h4 {
  font-size: 2em;
  text-align: center;
}
#projects p {
  text-align: justify;
  text-indent: 4em;
}
#projects #all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects #current {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#projects #current a:visited {
  text-decoration: none;
  color: black;
}
#projects #current a:active {
  text-decoration: none;
}
#projects #current a {
  color: black;
}
#projects #past {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#projects .logo {
  display: flex;
  justify-content: center;
}
#projects .screen {
  width: 100%;
  margin-bottom: 6px;
}
#projects figure {
  padding-bottom: 50px;
  border-bottom: solid rgba(57, 57, 57, 0.93) 1px;
}
#projects #current figure {
  border: none;
}
@media screen and (max-width: 350px) {
  #projects {
    margin-left: 0;
  }
  #projects #all {
    width: auto;
  }
  #projects #all .screen {
    width: auto;
    max-height: auto;
  }
}
/******************Page hardskills********************/
.section {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#hardskills {
  background-image: url("../images/snow.jpg");
  background-attachment: fixed;
  margin-left: 2em;
}
#hardskills h2 {
  margin-top: 80px;
  font-size: 5em;
}
#hardskills h3 {
  font-size: 2em;
}
#hardskills h4 {
  font-size: 1.5em;
}
#hardskills #hs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hardskills .competences,
#hardskills .oc {
  background-color: #f2f2f2;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#hardskills .oc a {
  color: black;
  text-decoration: none;
}
#hardskills .oc a:hover {
  text-decoration: underline;
}
.meter {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  max-width: 600px;
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.progress {
  margin: -11px;
  display: block;
  height: 70%;
  border-radius: 20px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow: hidden;
}
.progress:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 20px;
  overflow: hidden;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.certif {
  width: 100%;
}
@media screen and (max-width: 700px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
/******************Page Centre d'intérêts********************/
#interest {
  background: url("../images/winter.jpg"), fixed, no-repeat;
  margin-left: 2em;
}
#interest h2 {
  margin-top: 80px;
  font-size: 5em;
}
/******************Page contact********************/
.border0 {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#contact {
  background-image: url("../images/fogforest1.jpg");
  background-attachment: fixed;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}
#contact #wrongmail {
  height: 0;
  display: none;
}
#contact #sent {
  height: 0;
  display: none;
}
#contact #empty {
  height: 0;
  display: none;
}
#contact h2 {
  font-size: 5em;
}
#contact form {
  background-color: #f2f2f2;
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#contact form input,
#contact form textarea {
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 10px 0 25px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact form label {
  margin-bottom: 25px;
  font-size: 1.2em;
  color: #777777;
}
#contact form #submit {
  color: #f2f2f2;
  background: #0f0f0f;
  opacity: 0.4;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  padding: 15px 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#contact form #submit:hover {
  background-color: #ddd;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
  color: black;
}
/*# sourceMappingURL=stylesheet.css.map */