.transition-property{
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 1s;
}

.topnav{
  background-color: #0f0f0f;
  opacity: 0.4;
  overflow: hidden;
  margin: 0;
  padding: 0;
  //Position, top, left, width, permet que le menu descende quand on scroll
  //et que le menu prenne tout l'espace du haut
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    li{
      list-style-type: none;
    }
    a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
      padding: 15px 20px;
      float: left;
      display: block;
    }
    a:hover{
      background-color: #ddd;
      .transition-property;
      color: black;
    }
    .icon{display:none;}

}

/****************Apparence écrans de 700px et moins*****************/
@media screen and (max-width: 700px) {
  .topnav {
    a:not(last-child) {
        display: none;
      }
  }

  .topnav {
    a.icon {
      float: right;
      display: block;
    }
  }

  .topnav.responsive {
    position: absolute;
  }

  .topnav .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive {
    a {
      float: none;
      display: block;
      text-align: left;

    }
  }
}
